body{
  font-family: "helvetica Neue";

.picture--logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
        
      .picture--foulard-perso{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 160px;
          height: 263px;
          border-bottom-color: black;
          border-bottom:solid;
          border-bottom-width: 1px;
        } 
      
      .modif{
        display: flex;
        justify-content: space-around;
        margin-top: 16px;
        margin-bottom: 24px;
      }
      
      .motifs{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
      }
      
      .pastilles{
        display: flex;
        justify-content: space-around;
      }
      
      .tissus{
        display: flex;
        text-align: center;
      }
      
      .détails--title{
        text-align: center;
        border-top:solid;
        border-top-width:1px;
        padding-top: 16px;
        
      }
      
      .détails--description{
        text-align: center;
      }
      
      .détails--codeproduit{
        font-weight: 300;
        text-align: center;
        font-size: 14px;
      }
      .détails--compo{
        font-weight: 300;
        text-align: center;
        font-size: 14px;
      }
      
      .add{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 16px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 72px;
        width: 328px;
        margin-top: 32px;
        
      }
      
      .info{
        text-align: center;
      }
      
      .help{
        display: flex;
        justify-content:space-around;
        border-top:solid;
        border-top-width:1px;
        border-bottom-width:1px;
      }
      
      .price{
        text-align: center;
        font-weight: bolder;
        font-size: 24px;
        border-top:solid;
        border-top-width:1px;
      }
      
      .footer {
        display: flex;
        justify-content: space-around;
        position: sticky;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: white;
      }
      
}