$phone1-width: 360px;
$phone2-width: 410px;
$tablet-width: 768px;
$desktop-width: 1366px;

@mixin phone1 {
  @media (min-width: #{$phone1-width}) and (max-width: #{$phone2-width - 1px}) {
    @content;
  }
}

@mixin phone2 {
    @media (min-width: #{$phone2-width}) and (max-width: #{$tablet-width - 1px}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }
  
