body {
  font-family: "helvetica Neue";
  .header {
    width: 100%;
  }
  .logo__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu__list {
    display: none;
  }
.header__basket--icon{
  display: none;
}
.header__login--icon{
  display: none;
}
  .animation__desktop {
    display: none;
  }

  .scarf__picture {
    margin-top: 24px;
    height: 328px;
    width: 328px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .scarf__title {
    margin-top: 32px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #191919;
    .scarf__title--color {
      color: #d4b47b;
    }
  }
  .scarf__subtitle {
    text-align: center;
    text-transform: uppercase;
    color: #a1a1a1;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .scarf__subtitle--text {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 16px;
    line-height: 149%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .scarf__cta--btn {
    width: 283px;
    background-color: black;
    color: white;
    height: 51px;
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-size: 14px;
    font-weight: bold;
  }
  .for__her {
    text-align: center;
    .for__her__picture {
      margin-top: 48px;
      width: 328px;
      height: 328px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .for__her--p {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      color: black;
      margin-top: 16px;
    }
    .for__her--p--p {
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 1rem;
      font-weight: bold;
      color: #aeabab;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .for__her__btn {
      font-size: 24px;
      text-transform: uppercase;
      width: 289px;
      height: 64px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
      background-color: black;
      color: white;
      font-weight: bold;
    }
  }
  .for__him {
    margin-top: 25px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;

    .for__him__picture {
      margin-top: 48px;
      width: 328px;
      height: 328px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .for__him--p {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      color: black;
      margin-top: 16px;
    }
    .for__him--p--p {
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 1rem;
      font-weight: bold;
      color: #aeabab;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .for__him__btn {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
      width: 289px;
      height: 64px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      background-color: #191919;
      color: white;
    }
  }

  .scarf__title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
    text-transform: uppercase;
    .scarf__title--color {
      color: #d4b47b;
    }
  }
  .article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    .article__1 {
      .article__1--custom {
        text-transform: uppercase;
        color: #aeabab;
        font-weight: bold;
        font-size: 16px;
        margin-top: 16px;
      }
      .article__1--scarf {
        margin-top: 8px;
      }
      .article__1--price {
        margin-top: 8px;
      }
    }
  }

  .avantages {
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 486px;

    .avantages__articles {
      width: 160px;
      height: 138px;
    }
    .avantages__title {
      width: 100%;
      margin-top: 21px;
      margin-left: 1rem;
      margin-right: 1rem;
      color: white;
      font-weight: bold;
      margin-top: 16px;
      text-align: center;
      font-size: 16px;
      margin-bottom: 8px;
    }
    .avantages__articles--images {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 14px;
    }
    .eco__made {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
    .eco__made--in {
      color: white;
      text-align: center;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      margin-top: 5px;
      line-height: 139%;
      padding: 3px;
    }
  }
  .newsletter {
    width: auto;
    height: 99px;
    background-color: #f7f2ec;
    padding-left: 16px;
    padding-right: 16px;

    .newsletter__para {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
      font-style: normal;
      padding-top: 24px;
      margin-bottom: 16px;
    }
    .newsletter__email {
      background-color: #f7f2ec;
      border: none;
      border-bottom: 2px solid black;
      margin-top: 16px;
    }

    .icon__facebook {
      margin-left: 35px;
    }
    .icon__instagram {
      margin-left: 18px;
    }
    .icon__twitter {
      margin-left: 18px;
    }
    .icon__youtube {
      margin-left: 18px;
    }
  }

  .bottom__nav {
    position: sticky;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .footer-history {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-weight: 300;
    margin: 16px;
    text-align: left;
    border-bottom: 2px solid #c4c4c4;
    line-height: 139%;
  }

  .footer--title1 {
    font-weight: bold;
  }
  .footer--title2 {
    font-weight: bold;
  }
  .footer--title3 {
    font-weight: bold;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (min-width: 1366px) {
  body {
    font-family: "helvetica Neue";
    .header__logo {
      height: 80px;
      margin: 0;
      margin-left: 80px;
    }
    .logo__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      
      width: 15%;
    }
    .header{
      display: flex;
      align-items: center;
    }
    
    ul.menu__list {
      font-family: "helvetica Neue";
      text-transform: uppercase;
      display: flex;
      font-weight: bold;
      margin-left: 72px;
      
      .menu__list--item {
        margin-right: 54px;
      }
     
    }
    .icon{
      display: flex;
      justify-content: space-between;
      width: 80px;
      margin-left:400px;
    }

    .scarf__picture {
      display: none;
    }
    .scarf--img {
      height: 231px;
      margin: none;
    }

    .animation__content {
      margin: none;
      display: flex;
    }

    article {
      margin: none;
      width: auto;
      display: inline-block;
    }

    .animation__desktop {
      height: 514px;
      width: 693px;
      overflow: hidden;
      margin: none;
    }
    .sliding {
      margin: none;
    }

    @keyframes moveBottomToTop {
      to {
        transform: translateY(calc(-100% + 1410px));
      }
    }

    .sliding.one {
      padding: none;
      animation: moveBottomToTop 21s linear infinite;
    }

    @keyframes moveTopToBottom {
      to {
        transform: translateY(0);
      }
    }

    .sliding.two {
      animation: moveTopToBottom 25s linear infinite;
      transform: translateY(calc(-100% + 1410px));
    }

    @keyframes moveBottomToTop2 {
      to {
        transform: translateY(calc(-100% + 1410px));
      }
    }
    .sliding.three {
      animation: moveBottomToTop2 23s linear infinite;
    }
    .title {
      font-size: 36px;
      font-weight: bold;
      line-height: 44px;
      text-align: left;
      text-transform: uppercase;
      color: #191919;
      float: right;
      .title__color {
        color: #d4b47b;
      }
    }
    .subtitle {
      text-align: center;
      text-transform: uppercase;
      color: #a1a1a1;
      margin-top: 8px;
      font-size: 14px;
      font-weight: bold;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .subtitle__text {
      text-align: center;
      font-size: 16px;
      font-weight: 300;
      margin-top: 16px;
      line-height: 149%;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .btn-cta {
      width: 283px;
      background-color: black;
      color: white;
      height: 51px;
      text-transform: uppercase;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
      font-size: 14px;
      font-weight: bold;
    }
    .for__her {
      text-align: center;
      .for__her__picture {
        margin-top: 48px;
        width: 328px;
        height: 328px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .for__her--p {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: black;
        margin-top: 16px;
      }
      .for__her__p {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 1rem;
        font-weight: bold;
        color: #aeabab;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .for__her__btn {
        font-size: 24px;
        text-transform: uppercase;
        width: 289px;
        height: 64px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }
    .for__him {
      margin-top: 25px;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;

      .for__him__picture {
        margin-top: 48px;
        width: 328px;
        height: 328px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .for__him--p {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        color: black;
        margin-top: 16px;
      }
      .for__him__p {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 1rem;
        font-weight: bold;
        color: #aeabab;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .btn {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        width: 289px;
        height: 64px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        background-color: #191919;
        color: white;
      }
    }

    .title__h3 {
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      margin-top: 16px;
      text-transform: uppercase;
      .title__color {
        color: #d4b47b;
      }
    }
    .article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 1rem;
      margin-top: 40px;
      margin-left: 1rem;
      margin-right: 1rem;
      .article__1 {
        .article__1--perso {
          text-transform: uppercase;
          color: #aeabab;
          font-weight: bold;
          font-size: 16px;
          margin-top: 16px;
        }
        .article__1--scarf {
          margin-top: 8px;
        }
        .article__1--price {
          margin-top: 8px;
        }
      }
    }

    .avantages {
      background-color: #191919;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      height: 486px;

      .avantages__articles {
        width: 160px;
        height: 138px;
      }
      .avantages__title {
        width: 100%;
        margin-top: 21px;
        margin-left: 1rem;
        margin-right: 1rem;
        color: white;
        font-weight: bold;
        margin-top: 16px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 8px;
      }
      .avantages__articles--images {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 14px;
      }
      .eco__made {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
      }
      .eco__made--in {
        color: white;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        margin-top: 5px;
        line-height: 139%;
        padding: 3px;
      }
    }
    .newsletter {
      width: auto;
      height: 99px;
      background-color: #f7f2ec;
      padding-left: 16px;
      padding-right: 16px;

      .newsletter__para {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        padding-top: 24px;
        margin-bottom: 16px;
      }
      .newsletter__email {
        background-color: #f7f2ec;
        border: none;
        border-bottom: 2px solid black;
        margin-top: 16px;
      }

      .icon__facebook {
        margin-left: 35px;
      }
      .icon__instagram {
        margin-left: 18px;
      }
      .icon__twitter {
        margin-left: 18px;
      }
      .icon__youtube {
        margin-left: 18px;
      }
    }

    .bottom__nav {
      visibility: hidden;
    }

    .footer-history {
      display: flex;
      justify-content: space-around;
      font-size: 10px;
      font-weight: 300;
      margin: 16px;
      text-align: left;
      border-bottom: 2px solid #c4c4c4;
      line-height: 139%;
    }

    .footer--title1 {
      font-weight: bold;
    }
    .footer--title2 {
      font-weight: bold;
    }
    .footer--title3 {
      font-weight: bold;
    }
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }
  }
}
