body {
    margin:1rem;
    position: relative;
    background: #FDFCF9;
}
img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 16px;
}

.title {
    text-align: center;
    font-family: 'helvetica Neue';
    font-weight: bold;
    line-height: auto;
    color: #191919;
    margin-top: 24px;
    margin-bottom: none;
    background-color: yellow;

}

.h2{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    font-family: 'helvetica Neue';
    color: #AEAEAE;
    text-transform: uppercase;
    margin-top: none;
    background-color: red;
}
.text-marque {
    display: flex;
    font-family: 'helvetica Neue';
    font-weight: normal;
    font-size: 16px;
    margin-top:32px;
    line-height: 186.51%;
    text-align: center;
    color: #191919;
    margin-top: 48px;
    
}
h2 {
    top: 498px;
    font-family: 'helvetica Neue';
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #191919;
    margin-top: 32px;
}
    p {
    display: flex;
    font-family: 'helvetica Neue';
    font-weight: normal;
    font-size: 16px;
    line-height: 186.51%;
    text-align: center;
    color: #191919;
    margin-top: 40px;
    
}

.picture {
    display: block;
    margin-left:auto;
    margin-right:auto;
}
